html, body, #container {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

svg {
  width: 100%;
  height: 100%;

}

circle {
  fill: #818180;
  border: 3px solid #7bb993;
}

line {
  stroke: black;
  stroke-width: 3px;
}